.welcome_image1 {
	display: none;
	@media screen and (min-width: 1090px) {
		display: block;
	}
}
.welcome_image2 {
	display: none;
	@media screen and (min-width: 1090px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.welcome_image3 {
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (min-width: 1090px) {
		display: none;
	}
}

.intro_container {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 1090px) {
		flex-direction: row;
		align-items: flex-start;
	}
}

.welcome_banner {
	h1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		br {
			display: none;
		}
		@media screen and (min-width: 1090px) {
			br {
				display: block;
			}
			display: block;
		}
	}
	text-align: center;
	padding-right: 0;
	@media screen and (min-width: 1090px) {
		text-align: right;
		padding-right: 2.5rem;
	}
}

.text_shadow {
	text-shadow: 2px 2px 5px #e0afaf;
}

.customer_info {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 1090px) {
		flex-direction: row;
	}
}

.shadow_skyblue {
	box-shadow: 7px 5px 1px 2px rgb(27, 183, 250);
	&:hover {
		box-shadow: 8px 5px 1px 3px rgb(15, 106, 145);
	}
}
