$primary: rgb(241, 25, 93);
$secondary: rgb(255, 177, 59);
$radialPrimarySecondary: linear-gradient($primary, $secondary);

.welcome_image1 {
	display: none;
	@media screen and (min-width: 1090px) {
		display: block;
	}
}
.welcome_image2 {
	display: none;
	@media screen and (min-width: 1090px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.welcome_image3 {
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (min-width: 1090px) {
		display: none;
	}
}

.intro_container {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 1090px) {
		flex-direction: row;
		align-items: flex-start;
	}
}

.welcome_banner {
	text-align: center;
	padding-right: 0;
	@media screen and (min-width: 1090px) {
		text-align: right;
		padding-right: 2.5rem;
	}
}

.main_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media screen and (min-width: 1090px) {
		align-items: flex-end;
	}
}

.sub_title_texts {
	display: flex;
	flex-direction: column;
	span {
		display: none;
		@media screen and (min-width: 1090px) {
			display: inline;
		}
	}
	@media screen and (min-width: 1090px) {
		flex-direction: row;
	}
}

.text_shadow {
	text-shadow: 2px 2px 5px #fab1b1;
}

.customer_info {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 1090px) {
		flex-direction: row;
	}
}

.shadow_skyblue {
	box-shadow: 7px 5px 1px 2px rgb(27, 183, 250);
	&:hover {
		box-shadow: 8px 5px 1px 3px rgb(15, 106, 145);
	}
}

.text_animation {
	display: flex;
	div {
		&:first-child {
			animation: slideAndPopFromBottom 0.8s ease-out 1s both; /* Adjusted animation with 0.8-second duration and 1.2s delay */
		}

		&:nth-child(2) {
			animation: slideAndPopFromBottom 0.8s ease-out 1.2s both; /* Adjusted delay */
		}

		&:nth-child(3) {
			animation: slideAndPopFromBottom 0.8s ease-out 1.4s both; /* Adjusted delay */
		}

		&:nth-child(4) {
			animation: slideAndPopFromBottom 0.8s ease-out 1.6s both; /* Adjusted delay */
		}

		&:nth-child(5) {
			animation: slideAndPopFromBottom 0.8s ease-out 1.8s both; /* Adjusted delay */
		}

		&:last-child {
			animation: slideAndPopFromBottom 0.5s ease-out 2s both;
			@media screen and (min-width: 1090px) {
				text-shadow: none;
				background: $radialPrimarySecondary;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				filter: drop-shadow(2px 2px #f83281);
			}
		}
	}
}

@keyframes slideAndPopFromBottom {
	0% {
		transform: translateY(100%) scale(0);
		opacity: 0;
		color: rgb(0, 0, 0); /* Initial color */
	}
	50% {
		transform: translateY(-30%) scale(1.2);
		opacity: 1;
		color: rgb(228, 74, 99); /* Color change to black in the middle */
	}
	60% {
		opacity: 1; /* Ensure text remains visible */
		color: rgb(255, 182, 14); /* Additional color change */
	}
	100% {
		transform: translateY(0) scale(1);
		color: black;
	}
}
